<p id="notice"><%= notice %></p>
<%= @race.horses.inspect %>
<tbody>

  <% @race.horses.each do |horse| %>
     <tr>
      <td>
        <%= horse.name %>  
      </td>
     </tr>
  <% end %>

</tbody>

<%= link_to 'Edit', edit_race_path(@race) %> |
<%= link_to 'Back', races_path %>
