<%= simple_form_for(@horse) do |f| %>
  

  <div class="field">
    <%= f.input :name %>
  </div>
  <div class="field">
    <%= f.input :ratio %>
  </div>
  <div class="field">
    <%= f.input :wins %>
  </div>
  <div class="field">
    <%= f.input :places %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
